body{

    background-color: #66717E;
}

#search-list{
    margin-left: -30px;
    text-align: center;
}

.card-body-two{
    
padding: 10px;
text-align: center;
background-color: #FDFFFC;
}

.card-body{
    

background-color: #FDFFFC;
}

.main-header{

    background-color: #090C02;


}

.weather-header{

    background-color: #090C02;
}

.btn{
    background-color: #52B788;
    border-color: #090C02;
}

